<div class="cabeca">
    <h1>ECOLOGY</h1>
    <div>
        <a href="/">HOME</a>
        <a href="/doacao">DOAÇÃO</a>
        <a href="/contato">CONTATO</a>
        <a href="/sobre">SOBRE</a>
    </div>
</div>