<div class="cabeca">
    <h1>ECOLOGY</h1>
    <div>
        <a href="/">HOME</a>
        <a href="/noticias">NOTÍCIAS</a>
        <a href="/map">DOAÇÃO</a>
        <a href="/sobre">SOBRE</a>
    </div>
</div>