<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Notícias</title>
</head>

<body>
    <%- include ('cabeca')%>
    <div class="titulo-doacao">
        <h1>Doação</h1>
        <h2>Selecione abaixo o valor que deseja doar ou indique o valor da sua doação.</h2>
    </div>
    <form action="/pedirDadosdoUsuario" method="post" class="form" id="meuForm">
        <fieldset>
            <div class="valor1">
                <label for="valor">R$</label>
                <input type="number" class="valor" name="valor" min="1" placeholder="Deseja doar outro valor?" required>
            </div>
            <div class="valor2">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" class="valor" placeholder="Digite seu nome aqui" required>
            </div>
            <div class="valor2">
                <label for="mail">E-mail: </label>
                <input type="email" name="email" class="valor" size="30" maxlength="50" id="mail" placeholder="Digite seu email aqui" required>
            </div>
            <div class="buttons2">
               <input type="submit"  value="DOAR"> 
            </div>
            
        </fieldset>
    </form>
    <%- include ('rodape')%>
</body>

</html>