<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Notícias</title>
</head>

<body>
    <%- include ('cabeca')%>
    <form action="/result" method="post" class="form">
        <fieldset>
            <legend>Selecione o valor que deseja doar:</legend>
            
            <label for="valor1">R$20,00<input type="radio" id="valor1" name="valor" value="20,00"></label>
            <br>
            <label for="valor2">R$50,00<input type="radio" id="valor2" name="valor" value="50,00"></label>
            <br>
            <label for="valor3">R$100,00<input type="radio" id="valor3" name="valor" value="100,00"></label>
            <br>
            <label for="outro">Outro valor:<br><input type="number" id="outro" name="outro"></label>
            <br><br>
            <input type="submit" id="1a20">
        </fieldset>
      </form>
    <%- include ('rodape')%>
</body>

</html>