<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Notícias</title>
</head>

<body>
    <%- include ('cabeca')%>
    <form action="/test" method="post">
        <fieldset>
            <legend>Doação</legend>
            <label for="nome">Nome completo:</label>
            <input name="nome" id="nome" type="text" placeholder="Digite o seu nome" required><br>
            <input name="" id="" type="radio" >
            <input type="submit" id="1a20">
        </fieldset>
    </form> 
    <%- include ('rodape')%>
</body>

</html>