<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Notícias</title>
</head>

<body>
    <%- include ('cabeca')%>
    <div class="titulo-doacao">
        <h1>Doação</h1>
        <h2>Selecione abaixo o valor que deseja doar ou indique o valor da sua doação.</h2>
    </div>
    <form action="/pedirDadosdoUsuario" method="post" class="form">
        <fieldset>
            <button class="valor" name="valor1" value="20,00">20,00</button>
            <button class="valor" name="valor2" value="50,00">50,00</button>
            <button class="valor" name="valor3" value= "100,00">100,00</button>
            <input type="text" class="valor1" name="valorEscolhido" placeholder="Deseja doar outro valor?">
            <input type="submit" value="DOAR">
        </fieldset>
      </form>
    <%- include ('rodape')%>
</body>

</html>