<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Notícias</title>
</head>

<body>
    <%- include ('cabeca')%>
    <div class="titulo-doacao">
        <h1>Doação</h1>
        <h2>Selecione abaixo o valor que deseja doar ou indique o valor da sua doação.</h2>
    </div>
    <form action="/result" method="post" class="form">
        <fieldset>
            <label for="valor1" class="valor">R$20,00<input type="radio" id="valor1" name="valor" value="20,00"></label>
            <label for="valor2" class="valor">R$50,00<input type="radio" id="valor2" name="valor" value="50,00"></label>
            <label for="valor3" class="valor">R$100,00<input type="radio" id="valor3" name="valor" value="100,00"></label>
            <label for="outro" class="valor">R$<input type="number" id="outro" name="outro" min="10" placeholder="10,00"></label>
            <input type="submit" value="DOAR">
        </fieldset>
      </form>
    <%- include ('rodape')%>
</body>

</html>