<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>

<body>
    <%- include ('cabeca')%>
        <div class="titulo">
            <h1>Seca da Amazônia:<br>
                <p>Impactos Profundos na Vida dos Moradores Locais</p>
            </h1>
        </div>

        <div class="noticias">
            <section class="noticia">

            </section>

            <section class="noticia">

            </section>
        </div>
</body>

</html>