<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="logo">
            ECOLOGY
        </div>
        <div>
            <a href="/">HOME</a>
            <a href="/noticias">NOTÍCIAS</a>
            <a href="/map">AMAZÔNIA MAP</a>
            <a href="/sobre">SOBRE</a>
        </div>
    </nav>
    <main>
        <div>
            <div>
                <h1>Seca da Amazônia</h1><br>
                <h2>Impactos Profundos na Vida dos Moradores Locais</h2>
            </div>
        </div>

        <div>
            <section>
                <div>
                    <a href="/noticias">Seca Amazônica</a>
                </div>

                <div>
                    IMG
                </div>
            </section>

            <section>
                <div>
                    <a href="/noticias">Problemas aos moradores</a>
                </div>

                <div>
                    IMG
                </div>
            </section>
        </div>
    </main>
</body>
</html>