<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>

<body>
    <%- include ('cabeca')%>
        <div class="titulo">
            <h1>Seca da Amazônia:<br>
                <p>Impactos Profundos na Vida dos Moradores Locais</p>
            </h1>
        </div>

        <div class="noticias">
            <a href="./seca">
                <section class="noticia">
                    
                    <div class="titulo-noticia">
                        Seca amazônica
                    </div>
                    <img src="./img/seca.jpg" alt="Rio da floresta amazônica seco">
                    <div class="text-noticia">
                        A seca na Amazônia é uma consequência de uma interação complexa de fatores, sendo a crise climática o principal elemento. As consequências da seca, impactam diretamente com o ecossistema, afetando as águas e até mesmo a superfície terrestre.
                    </div>
                </section>
            </a>
           
            <a href="./moradores">
                <section class="noticia" >
                    <div class="titulo-noticia">
                        Problemas aos moradores
                    </div>
                    <img src="https://s2.glbimg.com/T9TDOYJPInvOeR57tGftc8XDMQg=/620x465/s.glbimg.com/jo/g1/f/original/2015/10/28/lago_do_aleixo-seca_edmar_barros_estadao_conteudo.jpg" alt="Morador jogando um balde de água em si mesmo">
                    <div class="text-noticia">
                        Esse desastre natural, afeta o bem estar dos moradores locais, principalmente devido ao ar, que é poluído. Também pela seca, os lagos e rios tem diminuído e muitos animais têm morrido, afetando diretamente os pescadores e pessoas que cuidam da produção agrícola, justamente por essa redução da água.
                    </div>
                </section>
            </a>
        </div>
    <%- include ('rodape')%>
</body>

</html>