<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista</title>
</head>

<body>
  <table>
    <tr>
        <th>Nome</th>
        <th>Valor</th>
    </tr>
    <% for (let i = 0; i < vetorValor.length; i++) { %>
    <tr>
        <td><%=vetorValor[i].nome%></li>
        <td><%=vetorValor[i].nome%></li>
    </tr>
    <% } %>
    </table>
</body>

</html>