<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>

<body>
    <%- include ('cabeca')%>
        <div class="noticias2">
            <section class="noticia2">
            
                <div class="titulo-noticia">
                    Seca amazônica
                </div>
                <img src="https://istoe.com.br/wp-content/uploads/2023/10/seca-no-rio-negro.jpg" alt="Rio da floresta amazônica seco">
                <div class="text-noticia2">
                    A seca na Amazônia é uma consequência de uma interação complexa de fatores, sendo a crise climática o principal elemento. As consequências da seca, impactam diretamente com o ecossistema, afetando as águas e até mesmo a superfície terrestre.
                </div>
            </section>
        </div>
    <%- include ('rodape')%>
</body>

</html>