<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>

<body>
    <%- include ('cabeca')%>
        <div class="noticias2">
            <section class="noticia2">
            
                <div class="titulo-noticia">
                    Problemas aos moradores
                </div>
                <img style="margin-left: 125px;" src="https://f.i.uol.com.br/fotografia/2023/10/07/16967123266521c686725d1_1696712326_3x2_rt.jpg" alt="Rio da floresta amazônica seco">
                <div class="text-noticia2">
                    Esse desastre natural, afeta o bem estar dos moradores locais, principalmente devido ao ar, que é poluído. Também pela seca, os lagos e rios tem diminuído e muitos animais têm morrido, afetando diretamente os pescadores e pessoas que cuidam da produção agrícola, justamente por essa redução da água.
                </div>
            </section>
        </div>
    <%- include ('rodape')%>
</body>

</html>