<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doação</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <%- include ('cabeca')%>
    <main class="tadoa">
        <% for (let i = 0; i < vetorNomes.length; i++) { %>
        <div class="teste">
            <p class="mostrar"><%=vetorNomes[i]%></p>
        </div>
        <% } %>
    </main>
    <%- include ('rodape')%>
</body>
</html>