<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rodapé</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .rodape{
            position: absolute;
            top: 90%;
        }
    </style>
</head>
<body>
    <div class="rodape">
        <p><a href="/">Home</a><br>Jonathan e Julia</p>
    </div>
</body>
</html>
