<html><head>
    <title> Como criar um formulário completo em HTML </title>
    <meta name="description" content="Aprenda a criar um site completo que usa formulários em HTML">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    
    <body>
    <form action="/app" method="post">
    <fieldset>
    <legend>Dados Pessoais</legend>
    <table cellspacing="10">
    <tbody><tr>
    <td>
    <label for="nome">Nome: </label>
    </td>
    <td align="left">
    <input type="text" name="name">
    </td>
    <td>
    <label for="sobrenome">Sobrenome: </label>
    </td>
    <td align="left">
    <input type="text" name="sobrenome">
    </td>
    </tr>
    <tr>
    <td>
    </tbody></table>
    <input type="submit">
    <input type="reset" value="Limpar">
    </fieldset>
    </form> 
    </body></html>